@charset 'UTF-8';

/*Abschnitt: Layout*/
body
{margin:0; height:100vh}
body {display:grid;
grid:
'header header' max-content
'aside main' 1fr
/auto 1fr}
header
{grid-area: header; display: flex;
flex-flow: row wrap;
justify-content: space-between;
align-items: center}
header>div {flex-basis: content}
header .left {align-self: stretch}
header .right {align-self: stretch}
/*header>span {flex-basis: 100%}*/
aside
{grid-area: aside; display: inline-flex;
flex-flow: column wrap;
justify-content: flex-start;
align-items: center}
aside>div {flex-basis: content}
/*aside>span {flex-basis: 100%; align-self: left}*/
main
{grid-area: main; display: inline-block}
main
{overflow-y:auto}
/*body::-webkit-scrollbar {width:0}*/

/*Abschnitt: Design*/
header
{background: linear-gradient(to bottom, rgba(22,0,3,.8),rgba(100,80,82,.8));
border-bottom:#504040 ridge 4px;
backdrop-filter: blur(3px);
-webkit-backdrop-filter:blur(3px);
-moz-backdrop-filter:blur(3px)}
aside
{background-color: rgba(157,3,17,.65);
border-right:#550000 solid 3px;
backdrop-filter: blur(4px);
-webkit-backdrop-filter:blur(4px);
-moz-backdrop-filter:blur(4px)}

header h1
{font-variant: small-caps; margin-bottom:0;
filter:drop-shadow(#000001 0 0 5px); color:transparent;
background: linear-gradient(178deg, #F2C15B,#FFEC79,#F2C15B,#C8953C,#A56029);
background-clip: text;
-webkit-background-clip:text}
header h2
{font-size:.83em; margin-top:0; margin-bottom:1.33em; text-align:center;
text-shadow:#000001 0 0 4px; color:#EDBE10}
header a>img
{background-color:#936B09;
margin:4px; border-radius:24px;
border:#660000 solid 2px;
box-shadow:#E5E4E2 0 0 0 3px,#330000 0 0 5px 2px, #000 0 0 2px inset}
aside nav>a
{color:#FFFFFF; text-shadow:#0066FF 0 0 4px; text-decoration:none;
display: block; text-align: center;
padding: 10px;
background: linear-gradient(#666666,#090909,#666666);
border:#001488 inset 2px; border-radius:10px;
margin:20px}
aside nav>a:hover
{background: linear-gradient(#777777,#0B0B0B,#777777);
border-style: outset;
box-shadow: rgba(0,128,255,.8) 50px 0 50px -50px inset}
aside nav>a:active
{background: linear-gradient(#444444,#000000,#444444);
box-shadow: none; border-style: solid}
aside h3
{color:#EEE8AA; text-shadow:#B8860B 0 0 6px,
/*texborder*/#000 -1px 0,#000 0 1px,#000 1px 0,#000 0 -1px;
margin-bottom:0; display:inline-block}
main a:link, main a:visited {color:#000055; text-decoration:none}
main a:hover {text-decoration:unerline}

/*Frame-Fall*/
main>iframe {width:100%; height:100%; display:block}

/*Abschnitt: Ornamente*/
header>div.left>span
{position:relative; float:left; display:inline-block}
header>div.left>span img
{position:absolute}
header>div.right>span
{position:relative; float:right; display:inline-block}
header>div.right>span img
{position: absolute; right:0}
header>div.left>span
{margin-right:calc(4em + 2vw)}
header>div.right>span
{margin-left:calc(4em + 2vw)}

/*Abschnitt: Titelleisten Klapp-Schaltfläche
header .collaptor button
{width:100%; line-height: 0.6;
vertical-align:top; font-size:6pt;
display:block}
.collaptor:link {text-decoration:none}

header .expandor button
{width:100%; line-height: 0.6;
vertical-align:top; font-size:6pt;
display:none}
.expandor:link {text-decoration:none}

header:target .collaptor button
{width:100%; line-height: 0.6;
vertical-align:top; font-size:6pt;
display:none}
header:target {border:none}

header:target .expandor button
{width:100%; line-height: 0.6;
vertical-align:top; font-size:6pt;
display:block}
header:target div {display:none}*/

/*Abschnitt: Seitenleisten Klapp-Schaltfläche
aside {transition: width 0.3s linear}
aside .collaptor button
{height:100%; padding:0;
text-align:left; font-size:6pt;
display:block}
.collaptor:link {text-decoration:none}

aside .expandor button
{height:100%; padding:0;
text-align:left; font-size:6pt;
display:none}
.expandor:link {text-decoration:none}

aside:target .collaptor button
{height:100%; padding:0;
text-align:left; font-size:6pt;
display:none}
aside:target {border:none}

aside:target .expandor button
{height:100%; padding:0;
text-align:left; font-size:6pt;
display:block}
aside:target div {display:none}*/

/*Abschnitt: Farb & HG-Wahl*/
select {color:#F0F0F0;
background:linear-gradient(to bottom, #292929,#000000,#292929)}
option {color:black!important}

/*Ende*/