body>.background
{animation: BildAni 5s linear infinite 0s;}
backface-visibility: hidden;
background-position: center;
background-attachment: scroll;
background-size: cover;
color: transparent;
width: 100%; height: 100%;
position: absolute; top:0; left:0;
opacity: 0;
z-index: 0}

body>.background:nth-child(1){background-image:url(../Hintergrundbilder/GothMarjell.jpg)}
body>.background:nth-child(2){animation-delay: 60s; background-image:url(../Hintergrundbilder/CSH_Burg.jpg)}
body>.background:nth-child(3){animation-delay: 120s; background-image:url(../Hintergrundbilder/Planet-Raum.jpg)}
body>.background:nth-child(4){animation-delay: 180s; background-image:url(../Hintergrundbilder/Burg_im_Winter.jpg)}

@keyframes BildAni {
from{opacity:1}to{opacity:1}
}

/*0%{animation-timing-function: ease-in; opacity: 0}
8%{animation-timing-function: ease-out; opacity: 1}
17%{opacity: 1}
25%{opacity: 0}
100%{opacity: 0}*/

/*animation: BildAni 30s linear infinite 0s;*/