/*Stylesheet: Ornamente*/

header>div:first-child>span
{position:relative; float:left; display:inline-block}
header>div:first-child>span img
{position:absolute}
header>div:last-child>span
{position:relative; float:right; display:inline-block}
header>div:last-child>span img
{position: absolute; right:0}